abandon	abandoned	V;PST
abandon	abandoned	V;V.PTCP;PST
abandon	abandoning	V;V.PTCP;PRS
abandon	abandons	V;3;SG;PRS
abandon	abandon	V;NFIN
abase	abased	V;PST
abase	abased	V;V.PTCP;PST
abase	abases	V;3;SG;PRS
abase	abase	V;NFIN
abase	abasing	V;V.PTCP;PRS
abash	abashed	V;PST
abash	abashed	V;V.PTCP;PST
abash	abashes	V;3;SG;PRS
abash	abashing	V;V.PTCP;PRS
abash	abash	V;NFIN
abastard	abastarded	V;PST
abastard	abastarded	V;V.PTCP;PST
abastard	abastarding	V;V.PTCP;PRS
abastard	abastards	V;3;SG;PRS
abastard	abastard	V;NFIN
abastardise	abastardised	V;PST
abastardise	abastardised	V;V.PTCP;PST
abastardise	abastardises	V;3;SG;PRS
abastardise	abastardise	V;NFIN
abastardise	abastardising	V;V.PTCP;PRS
abastardize	abastardized	V;PST
abastardize	abastardized	V;V.PTCP;PST
abastardize	abastardizes	V;3;SG;PRS
abastardize	abastardize	V;NFIN
abastardize	abastardizing	V;V.PTCP;PRS
abate	abated	V;PST
abate	abated	V;V.PTCP;PST
abate	abates	V;3;SG;PRS
abate	abate	V;NFIN
abate	abating	V;V.PTCP;PRS
abbreviate	abbreviated	V;PST
abbreviate	abbreviated	V;V.PTCP;PST
abbreviate	abbreviates	V;3;SG;PRS
abbreviate	abbreviate	V;NFIN
abbreviate	abbreviating	V;V.PTCP;PRS
abdicate	abdicated	V;PST
abdicate	abdicated	V;V.PTCP;PST
abdicate	abdicates	V;3;SG;PRS
abdicate	abdicate	V;NFIN
abdicate	abdicating	V;V.PTCP;PRS
abduce	abduced	V;PST
abduce	abduced	V;V.PTCP;PST
abduce	abduces	V;3;SG;PRS
abduce	abduce	V;NFIN
abduce	abducing	V;V.PTCP;PRS
abduct	abducted	V;PST
abduct	abducted	V;V.PTCP;PST
abduct	abducting	V;V.PTCP;PRS
abduct	abducts	V;3;SG;PRS
abduct	abduct	V;NFIN
abear	abearing	V;V.PTCP;PRS
abear	abears	V;3;SG;PRS
abear	abear	V;NFIN
abear	abore	V;PST
abear	aborne	V;V.PTCP;PST
abear	aborn	V;V.PTCP;PST
abegge	abegged	V;PST
abegge	abegged	V;V.PTCP;PST
abegge	abegges	V;3;SG;PRS
abegge	abegge	V;NFIN
abegge	abegging	V;V.PTCP;PRS
abelianise	abelianised	V;PST
abelianise	abelianised	V;V.PTCP;PST
abelianise	abelianises	V;3;SG;PRS
abelianise	abelianise	V;NFIN
abelianise	abelianising	V;V.PTCP;PRS
abelianize	abelianized	V;PST
abelianize	abelianized	V;V.PTCP;PST
abelianize	abelianizes	V;3;SG;PRS
abelianize	abelianize	V;NFIN
abelianize	abelianizing	V;V.PTCP;PRS
abend	abended	V;PST
abend	abended	V;V.PTCP;PST
abend	abending	V;V.PTCP;PRS
abend	abends	V;3;SG;PRS
abend	abend	V;NFIN
aber	abered	V;PST
aber	abered	V;V.PTCP;PST
aber	abering	V;V.PTCP;PRS
aber	abers	V;3;SG;PRS
aber	aber	V;NFIN
aberr	aberred	V;PST
aberr	aberred	V;V.PTCP;PST
aberr	aberring	V;V.PTCP;PRS
aberr	aberrs	V;3;SG;PRS
aberr	aberr	V;NFIN
aberrate	aberrated	V;PST
aberrate	aberrated	V;V.PTCP;PST
aberrate	aberrates	V;3;SG;PRS
aberrate	aberrate	V;NFIN
aberrate	aberrating	V;V.PTCP;PRS
aberuncate	aberuncated	V;PST
aberuncate	aberuncated	V;V.PTCP;PST
aberuncate	aberuncates	V;3;SG;PRS
aberuncate	aberuncate	V;NFIN
aberuncate	aberuncating	V;V.PTCP;PRS
abet	abets	V;3;SG;PRS
abet	abetted	V;PST
abet	abetted	V;V.PTCP;PST
abet	abetting	V;V.PTCP;PRS
abet	abet	V;NFIN
abhor	abhorred	V;PST
abhor	abhorred	V;V.PTCP;PST
abhor	abhorring	V;V.PTCP;PRS
abhor	abhors	V;3;SG;PRS
abhor	abhor	V;NFIN
abhour	abhoured	V;PST
abhour	abhoured	V;V.PTCP;PST
abhour	abhouring	V;V.PTCP;PRS
abhour	abhours	V;3;SG;PRS
abhour	abhour	V;NFIN
abide	abidden	V;V.PTCP;PST
abide	abided	V;PST
abide	abided	V;V.PTCP;PST
abide	abides	V;3;SG;PRS
abide	abide	V;NFIN
abide	abiding	V;V.PTCP;PRS
abide	abode	V;PST
abide	abode	V;V.PTCP;PST
abirritate	abirritated	V;PST
abirritate	abirritated	V;V.PTCP;PST
abirritate	abirritates	V;3;SG;PRS
abirritate	abirritate	V;NFIN
abirritate	abirritating	V;V.PTCP;PRS
abite	abites	V;3;SG;PRS
abite	abite	V;NFIN
abite	abiting	V;V.PTCP;PRS
abite	abitten	V;V.PTCP;PST
abite	abit	V;PST
abject	abjected	V;PST
abject	abjected	V;V.PTCP;PST
abject	abjecting	V;V.PTCP;PRS
abject	abjects	V;3;SG;PRS
abject	abject	V;NFIN
abjoint	abjointed	V;PST
abjoint	abjointed	V;V.PTCP;PST
abjoint	abjointing	V;V.PTCP;PRS
abjoint	abjoints	V;3;SG;PRS
abjoint	abjoint	V;NFIN
abjudge	abjudged	V;PST
abjudge	abjudged	V;V.PTCP;PST
abjudge	abjudges	V;3;SG;PRS
abjudge	abjudge	V;NFIN
abjudge	abjudging	V;V.PTCP;PRS
abjudicate	abjudicated	V;PST
abjudicate	abjudicated	V;V.PTCP;PST
abjudicate	abjudicates	V;3;SG;PRS
abjudicate	abjudicate	V;NFIN
abjudicate	abjudicating	V;V.PTCP;PRS
abjugate	abjugated	V;PST
abjugate	abjugated	V;V.PTCP;PST
abjugate	abjugates	V;3;SG;PRS
abjugate	abjugate	V;NFIN
abjugate	abjugating	V;V.PTCP;PRS
abjure	abjured	V;PST
abjure	abjured	V;V.PTCP;PST
abjure	abjures	V;3;SG;PRS
abjure	abjure	V;NFIN
abjure	abjuring	V;V.PTCP;PRS
ablactate	ablactated	V;PST
ablactate	ablactated	V;V.PTCP;PST
ablactate	ablactates	V;3;SG;PRS
ablactate	ablactate	V;NFIN
ablactate	ablactating	V;V.PTCP;PRS
ablaqueate	ablaqueated	V;PST
ablaqueate	ablaqueated	V;V.PTCP;PST
ablaqueate	ablaqueates	V;3;SG;PRS
ablaqueate	ablaqueate	V;NFIN
ablaqueate	ablaqueating	V;V.PTCP;PRS
ablate	ablated	V;PST
ablate	ablated	V;V.PTCP;PST
ablate	ablates	V;3;SG;PRS
ablate	ablate	V;NFIN
ablate	ablating	V;V.PTCP;PRS
ablaut	ablauted	V;PST
ablaut	ablauted	V;V.PTCP;PST
ablaut	ablauting	V;V.PTCP;PRS
ablaut	ablauts	V;3;SG;PRS
ablaut	ablaut	V;NFIN
able	abled	V;PST
able	abled	V;V.PTCP;PST
able	ables	V;3;SG;PRS
able	able	V;NFIN
able	abling	V;V.PTCP;PRS
ablegate	ablegated	V;PST
ablegate	ablegated	V;V.PTCP;PST
ablegate	ablegates	V;3;SG;PRS
ablegate	ablegate	V;NFIN
ablegate	ablegating	V;V.PTCP;PRS
abligate	abligated	V;PST
abligate	abligated	V;V.PTCP;PST
abligate	abligates	V;3;SG;PRS
abligate	abligate	V;NFIN
abligate	abligating	V;V.PTCP;PRS
ablude	abluded	V;PST
ablude	abluded	V;V.PTCP;PST
ablude	abludes	V;3;SG;PRS
ablude	ablude	V;NFIN
ablude	abluding	V;V.PTCP;PRS
ablute	abluted	V;PST
ablute	abluted	V;V.PTCP;PST
ablute	ablutes	V;3;SG;PRS
ablute	ablute	V;NFIN
ablute	abluting	V;V.PTCP;PRS
abnegate	abnegated	V;PST
abnegate	abnegated	V;V.PTCP;PST
abnegate	abnegates	V;3;SG;PRS
abnegate	abnegate	V;NFIN
abnegate	abnegating	V;V.PTCP;PRS
abnormalise	abnormalised	V;PST
abnormalise	abnormalised	V;V.PTCP;PST
abnormalise	abnormalises	V;3;SG;PRS
abnormalise	abnormalise	V;NFIN
abnormalise	abnormalising	V;V.PTCP;PRS
abnormalize	abnormalized	V;PST
abnormalize	abnormalized	V;V.PTCP;PST
abnormalize	abnormalizes	V;3;SG;PRS
abnormalize	abnormalize	V;NFIN
abnormalize	abnormalizing	V;V.PTCP;PRS